.header {
    display: flex;
    height: 90px;
    width: 100%;
    background-color: #5980c9;
    color: #070604 ;
    position: sticky;
}
.nav {
    display: flex;
    align-items: center;
    margin-left: 28em;
    margin-top:2em;
    list-style: none;
}
.nm {
    margin-bottom: rem;

}

    


#Abt { 
    Padding: 10px;
    width: 10px;
    height: 5px;
    margin: 10px;
    /* border: 1px solid black; */
}
#MW {
    Padding: 10px;
    width: 20px;
    height: 20px;
    margin: 10px;
    /* border: 1px solid black; */

}
#conme {
    Padding: 10px;
    width: 10px;
    height: 5px;
    margin: 10px;
    /* border: 1px solid black; */

}

#resume {
    padding: 10px;
    width: 10px;
    height: 5px;
    margin: 10px;
    /* border: 1px solid black; */
}

#name{
    padding: 10px;
    border: 1px solid lightblue;
    height:fit-content;
    width: fit-content;
    float: inline-start;
    text-align: center;
    background-color: aliceblue;
    font-size: 2em;
    color: rgb(204, 178, 30);





}
 

.h2 {
    width:200px;
    height: 50px;
    /* border: 20px 20px red; */
    float: left;
    margin-left: -10px;
    color: rgb(204, 178, 30);
    
    }
.p{
    width: 65% ;
    height: 90px;
    /* border: 1px solid black; */
    padding: 30px;
    display: inline-block;
    float:  right;
    margin-right: 20px;
    border-left: 5px solid rgb(204, 178, 30);
    
}
.section {
    display: flex;
    justify-content: space-between;
    
}

#p1{
    height: 30rem;
}
/* perfect tool got other boxes rem */
.menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 35em;
    height: 25em;
    /* border: 1px solid black; */
    justify-content: space-between;
    gap: -5px;
    padding: 3em;
    margin-top: 1em ;
    margin-left: -1rem;
    
}


    .MAA {
        display: flex;
        width: 20rem;
        height: 40rem;
        border: 5px solid  lightgrey;
        justify-content: space-between;
        gap: 7px;
        padding: 30px;
        margin: 20px;
        background: url('Calc.jpeg') center/cover;
        border-radius: 25px;
        border-style:double;
        box-shadow: 6px 6px 8px lightgray;
    }
    .Calc {
        display: flex;
        width: 10rem;
        height: 5rem;
        border: 5px solid lightgrey;
        justify-content: space-between;
        gap: 7px;
        padding: 30px;
        margin: 20px;
        background: url('MAA.jpeg') center/cover;
        border-radius: 25px;
        border-style:double;
        box-shadow: 6px 6px 8px lightgray;
    }
    .Res{
        display: flex;
        width: 10rem;
        height: 5rem;
        border: 5px solid lightgrey;
        justify-content: space-between;
        gap: 7px;
        padding: 30px;
        margin: 20px;
        background: url('Restaurant.jpeg') center/cover;
        border-radius: 25px;
        border-style:double;
        box-shadow: 6px 6px 8px lightgray;
    }
    .Albm {
        display: flex;
        width: 10rem;
        height: 5rem;
        border: 5px solid  lightgrey;
        justify-content: space-between;
        gap: 7px;
        padding: 30px;
        margin: 20px;
        background: url('bts.jpeg') center/cover;
        border-radius: 25px;
        border-style:double;
        box-shadow: 6px 6px 8px lightgray;
    }
    .Data{
        display: flex;
        width: 10rem;
        height: 5rem;
        border: 5px solid  lightgrey;
        justify-content: space-between;
        gap: 7px;
        padding: 30px;
        margin: 20px;
        background: url('data.jpeg') center/cover;
        border-radius: 25px;
        border-style:double;
        box-shadow: 6px 6px 8px lightgray;
    }
    
    
    .car {
        display: flex;
        width: 10rem;
        height: 5rem;
        border: 5px solid lightgrey;
        justify-content: space-between;
        gap: 7px;
        padding: 30px;
        margin: 20px;
        background: url('car.jpeg') top/cover;
        border-radius: 25px;
        border-style:double;
        box-shadow: 6px 6px 8px lightgray;
       
         
    }
    .div{
        display: flex;
        flex-wrap: wrap;
       flex-direction: row;
        flex: 2rem;
        height: 2rem;
        background: url('image.png') center/cover;
    }
.hr{
    color: blue;
}
.img {
    margin-left: 30px;
    float: right;
}
.avator{
   
}


    


