.header {
    display: flex;
    height: 70px;
    width: 100%;
    background-color: #bec6d5;
    color: #070604 ;
}
.nav {
    display: flex;
    align-items: center;
    margin-left: 25rem;
    margin-top:2em;
    list-style: none;
}

    


#Abt { 
    Padding: 10px;
    width: 10px;
    height: 5px;
    margin: 10px;
    /* border: 1px solid black; */
}
#MW {
    Padding: 10px;
    width: 20px;
    height: 20px;
    margin: 10px;
    /* border: 1px solid black; */

}
#conme {
    Padding: 10px;
    width: 10px;
    height: 5px;
    margin: 10px;
    /* border: 1px solid black; */

}

#resume {
    padding: 10px;
    width: 10px;
    height: 5px;
    margin: 10px;
    /* border: 1px solid black; */





}
 .h2 {
    width:200px;
    height: 50px;
    /* border: 20px 20px red; */
    float: left;
    margin-left: -10px;
    
    }
.p{
    width: 65% ;
    height: 70px;
    /* border: 1px solid black; */
    display: inline-block;
    float: right;
    margin-right: 70px;
    
}
.section {
    display: flex;
    justify-content: space-between;
    
}

#p1{
    height: 30rem;
}
/* perfect tool got other boxes rem */
.menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 35em;
    height: 25em;
    /* border: 1px solid black; */
    justify-content: space-between;
    gap: 3px;
    padding: 3em;
    margin-top: 1em ;
    margin-left: 2rem;
}


    .MAA {
        display: flex;
        width: 20rem;
        height: 400em;
        /* border: 1px solid black; */
        justify-content: space-between;
        gap: 7px;
        padding: 30px;
        margin: 20px;
    }
    .Calc {
        display: flex;
        width: 10rem;
        height: 5rem;
        /* border: 1px solid black; */
        justify-content: space-between;
        gap: 7px;
        padding: 30px;
        margin: 20px;
    }
    .Res{
        display: flex;
        width: 10rem;
        height: 5rem;
        /* border: 1px solid black; */
        justify-content: space-between;
        gap: 7px;
        padding: 30px;
        margin: 20px;
    }
    .Albm {
        display: flex;
        width: 10rem;
        height: 5rem;
        /* border: 1px solid black; */
        justify-content: space-between;
        gap: 7px;
        padding: 30px;
        margin: 20px;
    
    }
    .Data{
        display: flex;
        width: 10rem;
        height: 5rem;
        /* border: 1px solid black; */
        justify-content: space-between;
        gap: 7px;
        padding: 30px;
        margin: 20px;
    }
    
    
    .car {
        display: flex;
        width: 10rem;
        height: 5rem;
        /* border: 1px solid black; */
        justify-content: space-between;
        gap: 7px;
        padding: 30px;
        margin: 20px;
         
    }
    .div{
        display: flex;
        flex-wrap: wrap;
       flex-direction: row;
        flex: 2rem;
        height: 2rem;

        


    }

    


    


